.btn-default {
  color: #ffffff;
  background-color: #529e8b;
  border-color: #529e8b;
}.estilo  {

    padding: 10px;
    outline: 1px solid #529e8b;
    color: #ffffff;
background-color: #529e8b;


 }.estilo1  {

     padding: 10px;
     outline: 1px solid #529e8b;


  }
