#containerStyle {
  background-color: #f2f2f2;
}
.panel-default > .panel-heading{
  background-color: #ffffff;
  border-color: #ffffff;
}
.spanHead{
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #068587;
}
.h4Head{
  padding-left: 100px;
  padding-right: 0px;
}
/*h4 , .h4{
  margin-bottom: 1px;
}*/
@media only screen and (max-width:768px) {
  #containerStyle {
    padding-left: 0px;
    padding-right: 0px;
  }
.fluidXs{
  padding-right: 0px;
  padding-left: 0px;
}
.h4Head{
  padding-left: 0px;
  padding-right: 0px;
}
}

.btnBuscar{
  color:#ffffff;
  background-color:#068587;
  border-color: #068587;
  font-size: 19px;
  border-radius: 100px;
  padding: 3px 10px;
}
.labelMes{
  font-size: 15px;
}
.seleMes{
  font-size: 18px;
  color: #068587;
  border: 1px solid #068587;
  border-radius: 100px;
}
.hrStyle {
    margin-top: 1px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #068587;
    width: 60%;
}
.img-responsive{
  display: inline-flex;
}
.bstyle1 {
	background-color: #068587;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 15px;

}
.bstyle2{
	background-color: #dc3a3a;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 15px;
}

.close{
  color: #068587;
  opacity: inherit;
}
.modal-header-calendar {
  border-bottom: 2px solid #068587;
}
.modal-footer-calendar {
  border-top: 2px solid #068587;
}
